@page "/purchasedelivery/createdeliveryassignment"

@using AppForSEII2526.Web.Components.Shared
@using AppForSEII2526.Web.API
@inject AppForSEII2526APIClient apiclient
@inject ILogger<SelectPurchaseOrdersForDelivery> logger
@inject DeleveryAssignmentStateContainer deleveryAssignmentState

<h3>CreateDeliveryAssignment</h3>

@* rental is the object that will be edited thanks to the form *@
<EditForm Model="deliveryAssignment" OnValidSubmit="OpenDialog">
    <div class="row">

        <div class="col-md">
            <div class="form-floating">
                @*this button will be used to ask the user if he want to proceed to rent the movies*@
                <button class="btn btn-primary" type="submit" id="Submit">
                    Deliver your assignments
                </button>
            </div>
        </div>
    </div>
</EditForm>

@if (DialogIsOpen)
{
    <Dialog Caption="Purchase DEliveries"
        Message="Do you want to proceed to assign the selected deliveries?"
        OnClose="@OnDialogClose"
        Type=Dialog.Category.SaveNot>
    </Dialog>
}

@code {
    private bool DialogIsOpen;
    private DeliveryAssignmentForCreateDTO deliveryAssignment => deleveryAssignmentState.DeliveryAssgnment;

    private void OpenDialog()
    {
        DialogIsOpen = true;
    }

    private async Task OnDialogClose(bool isOk)
    {

        DialogIsOpen = false;
        if (isOk)
        {
            // Process the data introduced by the user if they are valid

        }
    }
}
