@page "/purchasedelivery/createdeliveryassignment"

@using AppForSEII2526.Web.API
@inject AppForSEII2526APIClient apiclient
@inject ILogger<SelectPurchaseOrdersForDelivery> logger
@inject DeleveryAssignmentStateContainer deleveryAssignmentState

<h3>CreateDeliveryAssignment</h3>

@* rental is the object that will be edited thanks to the form *@
<EditForm Model="deliveryAssignment" OnValidSubmit="OpenDialog">
    <div class="row">

        <div class="col-md">
            <div class="form-floating">
                @*this button will be used to ask the user if he want to proceed to rent the movies*@
                <button class="btn btn-primary" type="submit" id="Submit">
                    Deliver your assignments
                </button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    private DeliveryAssignmentForCreateDTO deliveryAssignment => deleveryAssignmentState.DeliveryAssgnment;

    private void OpenDialog()
    {

    }
}
